//- https://ld-prestashop.template-help.com/prestashop_15325_v1/index.php?id_category=14&controller=category&id_lang=1&live_configurator&theme=&header_layout=6&top_layout=14&home_layout=10&footer_layout=2&product_info_layout=
<!DOCTYPE html>
html(lang="en")
	head
		title EVEPREST
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(href='bootstrap.min.css' rel='stylesheet' type='text/css')
		link(href='style.css' rel='stylesheet' type='text/css')
	body
		.container
			header.row.m20-0.d-flex
				.d-flex.m20-0.col-12.col-sm-12.col-xl-5
					.item_menu WOMEN
						div.angle-up
							img(src="", alt="")
						div.megaMenu.d-flex
							mixin col_megaMenu(h5, arr)
								.col_megaMenu
									h5= h5
									hr
									each val, index in arr
										a.item_megaMenu(href=index)= val
							+col_megaMenu('CLOTHING', {'#1': 'New Arrivals', '#2': 'Dresses','#3': 'Prom Dresses',  '#4': 'Maxi Dresses', '#5': 'Tops', '#6': 'Bodysuits', '#7': 'Shirts & Blouses', '#8': 'Suits & Separates', })
							+col_megaMenu('CLOTHING', {'#1': 'New Arrivals', '#2': 'Dresses','#3': 'Prom Dresses',  '#4': 'Maxi Dresses', '#5': 'Tops', '#6': 'Bodysuits', '#7': 'Shirts & Blouses', '#8': 'Suits & Separates', })
							+col_megaMenu('CLOTHING', {'#1': 'New Arrivals', '#2': 'Dresses','#3': 'Prom Dresses',  '#4': 'Maxi Dresses', '#5': 'Tops', '#6': 'Bodysuits', '#7': 'Shirts & Blouses', '#8': 'Suits & Separates', })
							.col_megaMenu_img
								img(src="img/menu-banner.jpg", alt="menu-banner")
					.item_menu MEN
						div.angle-up
						div.megaMenu.d-flex
							.col_megaMenu.pos-r
								.wrap_megaMenuLvl2
									.See
										a.item_megaMenu.See(href='#') T-Shirts &amp; Vests
											div.angle-up-right
											div.wrap_megaMenuLvl3.col_megaMenu
												mixin col_megaMenuNoHead(arr2)
													each val, index in arr2
														a.item_megaMenu(href=index)= val
												+col_megaMenuNoHead({'#1': 'T-Shirts & Vests', '#2': 'Jumpers & Cardigans','#3': 'Hoodies & Sweats',  '#4': 'Maxi Dresses', '#5': 'Tops', '#6': 'Bodysuits', '#7': 'Shirts & Blouses', '#8': 'Suits & Separates', })
								mixin col_megaMenuNoHead(arr2)
									each val, index in arr2
										a.item_megaMenu(href=index)= val
								+col_megaMenuNoHead({'#1': 'T-Shirts & Vests', '#2': 'Jumpers & Cardigans','#3': 'Hoodies & Sweats',  '#4': 'Maxi Dresses', '#5': 'Tops', '#6': 'Bodysuits', '#7': 'Shirts & Blouses', '#8': 'Suits & Separates', })
					.item_menu TEENS
					.item_menu KIDS
					.item_menu LOOKBOOK
				.logo.d-flex.justify-content-md-center.m20-0.col-12.col-sm-12.col-xl-2
					img.logo(src="img/logo.jpg", alt="EVEPREST")
				.d-flex.m20-0.col-12.col-sm-12.col-xl-5.justify-content-md-end
					.item_menu EN
						div.angle-up
						div.megaMenu
							.item_megaMenu English
							.item_megaMenu Русский
							.item_megaMenu Français
					.item_menu USD
						div.angle-up
						div.megaMenu
							.item_megaMenu EUR(€)
							.item_megaMenu USD($)
					.item_menu.fl.icon_user
					.item_menu.fl.icon_loop
					.item_menu.fl.icon_love
					.item_menu.fl.icon_shop
		section.fullBgImg
			.container
				.category-description
					h3 Teens
					p Fashion has always been so temporary and uncertain. You can’t keep up with it.  This social phenomenon is very whimsical, thus we as the consumers always try to stay in touch with all the latest fashion tendencies.
		.container.body
			.aside.col-md-3
				h3 Filter By
				h5 Brand
				mixin col_Brand(arr3)
					each val, index in arr3
						input(type="checkbox", name="brand")
						a.a_brand(href=index)= val


			.content.col-md-9 ||||




	script(src="http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=0.0.46")
	script(src="jquery-3.2.1.slim.min.js")
	script(src="popper.min.js")
	script(src="bootstrap.min.js")
	//- script(src="script.js")